/* src/styles/ProjectCard.css */
.project-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 300px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.project-card img {
  max-width: 100%;
  border-radius: 5px;
}

.project-card h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.project-card p {
  font-size: 1rem;
  color: #555;
}
